//- html
//-     head 
//-         title IP List  
//-         //- Stylesheet
//-         link(href="/css/bootstrap.css" rel="stylesheet")
//-     body
//-         div(class='container')
//-             ul
//-                 each dict in ip_list
//-                     li= dict['ip'] + " --- " + dict['count']

//-         //- JS files 
//-         script(src="js/jquery-3.2.1.min.js")
//-         script(src="js/bootstrap.min.js")

extends master.pug 

block content 
    ul
        each dict in ip_list
            li= dict['ip'] + " --- " + dict['count']