//- html
//-     head 
//-         title IP List  
//-         //- Stylesheet
//-         link(href="/css/bootstrap.css" rel="stylesheet")
//-     body
//-         div(class='container')
//-             ul
//-                 each dict in ip_list
//-                     li= dict['ip'] + " --- " + dict['count']

//-         //- JS files 
//-         script(src="js/jquery-3.2.1.min.js")
//-         script(src="js/bootstrap.min.js")

extends master.pug 

block content 
    table(id="example" class="table table-striped table-bordered" cellspacing="0" width="100%")
        thead
            tr
                th IP 
                th Max Count 
        tfoot
            tr
                th IP
                th Max Count 
        tbody
            each dict in ip_list
                tr
                    td= dict['ip']
                    td= dict['count']
        //- each dict in ip_list
            li= dict['ip'] + " --- " + dict['count']