html
    head 
        title #{title_placeholder} 
        //- Stylesheet
        link(href="/css/bootstrap.css" rel="stylesheet")
    body
        div(class='container')
            div(class='jumbotron')
                h1 IP Distribution 
                p A Node app that is used to collect IP stats 
                p
                    a(class="btn btn-primary btn-lg" href="#" role="button") Learn More 
            block content 

        //- JS files 
        script(src="js/jquery-3.2.1.min.js")
        script(src="js/bootstrap.min.js")